*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: lightgray;
}

#grid{
    width: 700px;
    height: 700px;
    margin: 10px auto;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
}

.cell-100{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-81{
    width: calc(100% / 8);
    height: calc(100% / 8);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-49{
    width: calc(100% / 5);
    height: calc(100% / 5);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}



.cell.bg-skyblue{
    background-color: skyblue;
}